div#endingContainer {
    /* text-align: center; */
    margin: auto;
    width: 80%;
    display: inline-block;
    position: relative;
}
div#accordion {
    width: 20%;
    height: 100%;
    display: inline-block; 
    float: left;
}
div#endingSceneAndEducationContainer {
    width: 80%;
    border: 1px solid green;
    display: inline-block; 
}

img#endingImageSource {
    width: 100%;
    margin: auto;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel button{
    background-color: white;
    border: none;
    color: black;
    width: 90%;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
}

.panel button:hover, .panel button:focus{
    background-color: #4CAF50;
    color: white;
}

button:focus {
    outline:0;
}

div#educationalInfoContainer {
    text-align: left;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

div#endingSceneMetricsContainer {
    /* display: none; */
    position: absolute;
    z-index: 50;
    top: 10px;
    /* left: 10px; */
    right: 10px;
    /* width: 100%; */
    text-align: left;
    /* display: none; */
    font-size: 15px;
    background: rgba(0,0,0,0.7);
    /* padding: 20px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    padding: 5px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
    /* padding-top: 10px; */
    color: white;
    z-index: 20;
}
span#endingSceneBudgetIcon {
    color: #FDAB9F;
}
span#endingSceneFunctionalityIcon {
    color: #19B5FE;
}
span#endingSceneAestheticIcon {
    color: #DBFE87;
}
.bold {
    font-weight: 700;
}