#mainImage {
    /* text-align: center; */
    width: 80%;
    margin: auto;
    display: inline-block;
    position: relative;
}

#imageSource {
    width: 100%;
    margin: auto;
}

#buildingSourceContainer{
	position: absolute;
    text-align: center;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
}

#buildingSource {
    width: 100%;
    margin:auto;
    z-index: 10;
}

#switchingSourceContainer{
	position: absolute;
    text-align: center;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
}

#switchingSource {
    width: 100%;
    margin:auto;
    z-index: 10;
}
/*
#itemContainer{
position: absolute;
    text-align: center;
    z-index: 1;
    left: 10px;
    bottom: 50px;
}*/
/*
#itemSource {
    width: 20%;
    margin:auto;
    z-index: 1;
}*/

#itemContainer{
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
}

#itemSource {
    width: 100%;
    margin:auto;
    z-index: 1;
}

#playButton {
    margin-left: auto;
    font-family: 'Catamaran', sans-serif;
    z-index: 2;
    margin-left: 1%;
    margin-right: 1%;
    border: none;
    background: transparent;
    color: #555555;
    font-size: 75px;
}

#playButton:hover{
    color: #7312d1;
}

.gameButton{
    border-radius: 5px;
    background: white;
/*    border: 2px solid #EF863A;*/
    display: inline-block;
    margin: auto;
    margin-left: 1%;
    margin-right: 1%;
    top: 5px;
    font-size: 16px;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.gameButton:hover{
/*    background-color: #EF863A;*/
    color: #EF863A;
    border: 2px solid #EF863A;
    transform: scale(1.1);

}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.buttonsDiv{
	position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    /*initially dont show the buttons*/
    display:none;
}

#nextSceneButtons{
	display:none;
}

div#gameBody {
    text-align: center;
    margin-top: 20px;
}

#itemContainer{
	display:none;
}
div#nextSceneButtons {
    z-index: 2;
}

div#metricsContainer {
    display: none;
    position: absolute;
    /* z-index: 50; */
    left: 10px;
    /* width: 100%; */
    text-align: left;
    /* display: none; */
    font-size: 20px;
/*    background: rgba(0,0,0,0.7);*/
    /* padding: 20px; */
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px;
    border: 3px solid #EF863A;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
    padding-top: 10px;
    background-color: white;
    color: black;
    z-index: 20;
}

p#budgetContainerText {
    /* color: #F7CA18; */
    /*font-size: 25px;
    background: rgba(255,255,255,0.7);
    padding: 10px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;*/
}

span#budgetNumber {
    /*green*/
    color: #2ECC71;
}

span#budgetIcon {
    /*pink*/
    color: #FDAB9F;
}

span#aestheticIcon {
    /*color: #EF4836;*/
    color: #59db29;
}

span#functionalityIcon {
    color: #19B5FE;
}

div#playButtonContainer {
    position: absolute;
    top: 10px;
    width: 100%;
    border: none;
    text-align: center;
}

div#budgetSelectionContainer {
    display: none;
    position: absolute;
    bottom: 160px;
    width: 100%;
    text-align: center;
}

div#budgetSelectionBox {
    /* width: auto; */
    /* width: 20%; */
    /* text-align: center; */
    background: white;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    border: 5px solid #EF863A;
}

p#budgetText {
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
}

#metricsPopupContainer {
    display:none;
    position: absolute;
    /* bottom: 160px; */
    top: 10px;
    width: 100%;
    /* background: rgba(0,0,0,0.9); */
    text-align: center;
    z-index:20;
}
div#metricsPopupBox {
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    border: 5px solid #EF863A;
    background: rgb(255,255,255);
    /*background: rgba(0,0,0,0.7);*/
    font-size: 20px;
    color: black;
    /*color:white;*/
}
